<div class="jumbotron text-center">
  <h1>MEAN Authentication Appi</h1>
  <p class="lead">Tervetuloa tähän appiin.</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>Tähän voi keksii jotai kivaa sanottavaa</p>
  </div>
  <div class="col-md-4">
    <h3>Angular-Cli</h3>
    <p>Tännekki jotai järkevää sanottavaa</p>
  </div>
  <div class="col-md-4">
    <h3>JWT Tokens</h3>
    <p>Tännekki jotai järkevää sanottavaa</p>
  </div>
</div>